{{!-- views/books/books-edit.hbs --}}

<h2>Edit your Pet: {{Pet.title}}</h2>

<form action="/allPets/edit/{{_id}}" method="post" enctype="multipart/form-data">
  <label> Description:
    <input type="text" name="description" value="{{description}}" />
  </label>
  
  <label> Name:
    <input type="text" name="name" value="{{name}}"/>
  </label>
  
  <label> Age:
    <input type="text" name="age" value="{{age}}"/>
  </label>

  <label> Species:
    <input type="text" name="species" value="{{species}}" />
  </label>

  <label> Breed:
    <input type="text" name="breed" value="{{breed}}"/>
  </label>

  <label> Feeding:
    <input type="text" name="feeding" value="{{feeding}}"/>
  </label>

  <label> Environment:
    <input type="text" name="environment" value="{{environment}}"/>
  </label>

    <label for="">Add Image</label>
    <input type="file" name="imageUrl" />

  <button type="submit">Save changes</button>
</form>
