{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>Choose an option below!</p>
  <button class="landingPage">
    <a href="/login/userProfile">Reload the page</a>
  </button>
  <button class="landingPage">
    <a href="/allPets">View all pets</a>
  </button>
  <button class="landingPage">
    <a href="/addPets/add-pet">Add a pet!</a> 
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
<div class="allMyPets">
{{#each foundPets}}
<div class="singlePet">
<br>
<img src="{{_doc.imageUrl}}" alt="no image">
<div class="petInfo">
<p>Name: {{_doc.name}}</p>
<p>Age: {{_doc.age}}</p>
<p>Species: {{_doc.species}}</p>
<p>Breed: {{_doc.breed}}</p>
<p>Feeding: {{_doc.feeding}}</p>
<p>Environment: {{_doc.environment}}</p>
</div>

 <a href="/allPets/edit/{{_id}}"><button>Edit</button></a> 
    <form action="/allPets/allPet/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    </div>
{{/each}}

</div>
